body{
  display: grid; /*gör så att gridarna påverkar placeringen av innehållet*/
  grid-template-rows: 50px 50px auto 18px; /*gör plats för huvudrubriken, naven, innehållet och footern*/
  grid-gap: 0; /*tar bort eventuella försatta luckor*/
  padding: 0; /*tar bort eventuel försatt padding*/
  grid-template-areas: "header" "nav" "main" "footer"; /*gör så att t.ex naven alltid hamnar näst längst upp automatiskt för att den är näst längst till vänster och kommer på andra plats*/
}
header{
  background-color: grey;
  display: grid;
  margin: 0;
  padding: 0;
  grid-area: header; /*allt här påverkar bara gridden som är till för huvudrubriken*/
  text-align: center;
}
nav{
  background-color: grey;
  grid-area: nav;
  text-align: center;
}
nav ul{
  
  margin: 0;
  padding: 0;
}
nav li{
  display: inline; /*bestämmer var i relation till resten den ska vara och navigationlistan ska vara i en linje så att de inte hamnar på varandra*/
    margin: 125px; /*ökar mellanrummet på bredden mellan dem*/
}
.undermeny{ /*tekniska förklaringen för varför jag har denna klassen här är att den andra lösningen jag använt innan vilket är nth-child räknade med bilder som p-stycken då den verkade vara felaktig så då går jag på det säkra valet av en klass istället*/
  margin: 295px;
}
a:link {
  color: blue;
}

a:visited {
  color: red;
}

a:focus {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: yellow;
}
main{
  display: grid;
  margin: 0;
  padding: 0;
  grid-area: main;
  grid-template-columns: 1fr 1fr; /*delar upp sidan i en tvåspaltslayout där varrannat element hamnar på höger sida och varannat på vänster med start från vänster*/
}
@font-face {
  font-family: FooterFont; /*skapar en ny fontfamilj genom att använda en fil jag hämtat från internet*/
  src: url("acme.woff");
}
footer{
  display: grid;
  margin: 0;
  padding: 0;
  grid-area: footer;
  font-family: FooterFont; /*använder den nya fontfamiljen*/
}
h1{
  margin: 0;
  padding: 0;
}
h2{
  background-color: grey;
  margin: 0;
  padding: 0;
  text-align: center;
}
h3{
  margin: 0;
  padding: 0;
  text-align: center;
}
p{
  margin: 0;
  padding: 0;
}
table{
  border: 1px solid black;
  background-color: darkgrey;
  border-spacing: 0px;
  border-radius: 15px; /*gör så att tabellen får rundade hörn*/
  padding: 5px;
}
th{
  background-color: grey;
  border: 1px solid black;
}
td{
  border: 1px solid black;
  vertical-align: top; /*tar upp texten i rutorna*/
  text-align: center;
  padding: 0;
  margin: 0;
}
tr:nth-child(odd){ /*gör så att varrannan inkl den första raden får grön bakgrund*/
  background-color: green;
}
tr:nth-child(even){ /*gör så att varrannan inte inkl den första raden får grå bakgrund*/
  background-color: #66AA00; /*gulgrön eller ljusgrön*/
}
dl{
  list-style-type: none; /*tar bort försatta stilar på listan*/
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
video{
  margin-top: 3ex; /*gör ett mellanrum så att texten blir lättare att se melanrummet är ungefär 1.5 gånger så stor som höjden på texten*/
}
audio{
  height: 1em; /*gör så att de får samma höjd som texten så att det lätt går att se alla samtidigt och man fortfarande kan läsa tiden*/
  width: 300px;
}
img{
  width: 100%;
}
label[for="numberCheck"]{ /*markerar texten till den enda nödvändiga frågan*/
  background-color: yellow;
}
#Study img{ /*påverkar endast bilden talen och gör så att de inte täcker halva sidan och inte sticker ut höger om gränsen för textrutorna över och under*/
  width: 30%;
}
#Index{
  background-color: darkgreen;
}
#Bandmembers{
  background-color: darkgreen;
}
#Music{
  background-color: darkgreen;
}
#Music > main{
  grid-template-columns: 1fr 1fr 1fr; /*delar upp sidan i en trespaltslayout och lägger in divarna i ordning*/
}
#Study{
  background-image: linear-gradient(rgb(120, 165, 240), red); /*blå som blir rödare uppifrån ner*/
}
#Results{
  background-color: hsl(50, 100%, 87%); /*sandfärgad*/
}
@media only screen and (max-width: 700px) {audio {width: 130px;}} /*om skärmen är mindre än 700 pixlar så minskar ljudkontrollerna i bredd till 130 pixlar*/
@media only screen and (orientation: portrait) {#Study {background-image: linear-gradient(to right, rgb(120, 165, 240), red);}}
/*ändrar håll sidans färger visar på så att man får illusionen av att bakgrunden följer med när man vänder mobilen eller plattan på sidan och går från porträtt till horisontel skärm*/